.form_images {
    p {
        margin-bottom: .25rem;
        font-size: .875rem;
        font-weight: 600;
        color: var(--main-color);
    }
    .zone {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0;
        width: auto;
        min-width: 164px;
        max-width: 624px;
        height: auto;
        min-height: 296px;
        background: #fff;
        border: 0;
        border-radius: 8px;
    }
}
.draggable_copy {
    display: none;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 144px;
    background: #fff;
    border: 4px dashed var(--main-color);
    border-radius: 4px;
    color: #1d1d1d;
    transition: 0.5s;
    cursor: move;
    span {
        font-weight: 700;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
.draggable_mirror {
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 144px;
    background: #fff;
    background-size: cover !important;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    color: #1d1d1d;
    display: none;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    opacity: .8;
}

@media (max-width: 575px) {
    .zone {
        padding: 1rem;
    }
}
