.header {
    height: 72px;
    .navbar {
        width: 100%;
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        background: #fff;
        backdrop-filter: blur(24px);
        border-bottom: 1px solid #efefef;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .10);
        z-index: 9999;
        a {
            color: #333 !important;
        }
        .logo {
            height: 32px;
            a {
                display: flex;
                align-items: center;
                height: 100%;
                img {
                    height: 100%;
                }
            }
        }
        .brand {
            display: none;
        }
        .title {
            display: flex;
            align-items: center;
            h4 {
                font-size: 1.2rem;
                font-weight: 700;
                margin-bottom: 0;
                color: #333;
            }
            svg {
                color: #d21b60;
                margin-right: 0.5rem;
            }
        }
        .list_links {
            a {
                font-size: .875rem;
                font-weight: 600;
                color: #f9f9f9;
            }
        }
        .btn_primary {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            background: var(--linear-gradient);
            border: 0;
            padding: 0 32px;
            border-radius: 6px;
            font-weight: 600;
            font-size: 16px;
        }
    }
}
@media (max-width: 992px) {
    .header {
        .list_links {
            display: none !important;
        }
        .btn_primary {
            display: none !important;
        }
    }
}
