.brand_vehicle {
  padding: 0 1rem;
  .title {
    display: block;
    font-size: .875rem;
    font-weight: 700;
    color: #555;
    margin-bottom: 1rem;
  }
  .btn_more {
    background: transparent;
    border: 0;
    color: #777;
    font-size: .75rem;
    font-weight: 600;
    svg {
      margin-left: .5rem;
    }
  }
  .select {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background: #fff;
    border: 0;
    border-bottom: 1px solid #ededed;
    font-size: .875rem;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    span {
      text-transform: initial;
      font-size: .75rem;
      color: #999;
    }
    svg {
      color: #999;
    }
  }
  .card {
    width: 79px;
    flex: 1;
    min-width: 79px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .08);
    border-radius: 4px;
    border: 0;
    transition: .2s;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 16px rgba(0, 0, 0, .25);
    }
    span {
      font-size: .75rem;
      color: #555;
    }
  }
}