.section_store {
  margin: 48px 0;
  height: auto;
  background: transparent;
  .wrapper {
    position: relative;
    padding: 0 70px 0 70px !important;
}
  .title {
    color: #333;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  #swiper {
    position: unset;
    padding-bottom: 1rem;
  }
  #swiper_slide {
    width: 100%;
    max-width: 320px;
  }
}

@media (max-width: 720px) {
  .section_store {
    #swiper_slide {
      width: 280px;
    }
  }
}