.step_two {
    width: 100%;
    max-width: 882px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #d3d3d3;
    padding: 2rem;
    small {
        color: #999;
        font-weight: 400;
        margin-top: -1.2rem;
    }
    .step_header {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        .state {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 1px solid #d3d3d3;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: .5rem;
            svg {
                color: #d3d3d3;
            }
        }
        .step_title {
            span {  
                display: block;
                font-size: .875rem;
                color: #999;
            }
            .title {
                display: block;
                font-size: 1rem;
                font-weight: 600;
                color: #555;
            }
        }
    }
}
.alert {
    font-weight: 600;
    border-radius: 6px;
    text-align: center;
    width: 380px;
}
.concluded {
    flex-direction: row;
    justify-content: space-between;
    button {
        background: transparent;
        border: 0;
        font-size: 1rem;
        font-weight: 700;
        color: #555;
    }
    .step_header {
        margin-bottom: 0;
        .state {
            background: #3EDB6A;
            svg {
                color: #fff;
            }
        }
    }
    .content {
        display: none;
    }
}
.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input {
        max-width: 180px;
    }
    .group_button {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2rem !important;
        gap: 24px;
        .btn_primary {
            width: 220px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            border-radius: 6px;
            background: linear-gradient(92.54deg, #D21B60 0%, #F3123C 100%);
            color: #fff;
            font-weight: 600;
        }
        .disabled {
            background: #d3d3d3;
            color: #555;
        }
        .btn_secondary {
            width: 220px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--main-color);
            border-radius: 6px;
            background: #fff;
            color: var(--main-color);
            font-weight: 600;
        }
    }
}
.input_box {
    display: flex;
    align-items: center;
    margin-top: .75rem;
    input {
        margin-right: .5rem;
        margin-left: 1px;
        &:checked {
            background-color: #000 !important;
        }
    }
    input[type=checkbox] {
        position: relative;
        cursor: pointer;
        display: flex; align-items: center; justify-content: center;
        width: 16px;
        height: 16px;
    }
    input[type=checkbox]:before {
        content: "";
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        top: -1px;
        left: -1px;
        border: 2px solid #d3d3d3;
        border-radius: 3px;
        background-color: white;
    }
    input[type=checkbox]:checked:before {
        border: 2px solid var(--main-color);
    }
    input[type=checkbox]:checked:after {
        content: "";
        display: block;
        width: 5px;
        height: 10px;
        border: solid var(--main-color);
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 2px;
        left: 6px;
    }
    label {
        font-weight: 600;
        color: #555;
        font-size: 0.875rem;
    }
}

@media (max-width: 575px) {
    .step_two {
        padding: 2rem .75rem;
    }
    .content {
        .group_button {
            width: 100%;
            button {
                width: 100% !important;
            }
        }
    }
}