.tab_type {
  display: flex;
  justify-content: center;
  padding: 1rem 0 3rem 0;
  button {
    width: 144px;
    height: 40px;
    border: 2px solid var(--main-color);
    background: #fff;
    color: var(--main-color);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    &:first-child {
      border-radius: 6px 0 0 6px;
    }
    &:last-child {
      border-radius: 0 6px 6px 0;
    }
    &.active {
      background: var(--main-color);
      color: #fff;
    }
  }
}
@media (max-width: 720px) {
  .tab_type {
    padding: 2rem .75rem;
    button {
      flex: 1;
    }
  }
}