.card {
  background: #fff;
  width: 280px;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  .body {
    padding-top: 1rem;
    h4 {
      width: 180px;
      margin-bottom: 0;
    }
    .price {
      width: 160px;
    }
  }
}