.select_box {
    width: 100%;
    margin-bottom: 2rem;
    select {
        text-transform: uppercase;
        padding: 0.25rem;
        width: 100%;
        border: 0;
        border-bottom: 1px solid #333;
        background: #fff;
        font-size: 0.875rem;
        color: #555;
        &:focus {
            outline: 0;
            border: 0;
            border-bottom: 1px solid #333;
        }
        &:select{
            outline: 0;
            border: 0;
            border-bottom: 1px solid #333;
        }
        option {
            color: #333;
            text-transform: uppercase !important;
        }
    }
    label {
        font-size: 0.875rem;
        color: #7e7e7e;
    }
    .select_error {
        display: flex;
        font-size: 0.75rem;
        font-weight: 700;
        color: var(--red-color);
    }
}