.tab_content {
    padding: 0;
    display: flex;
    width: 100%;
    max-width: 1352px;
    li {
        list-style: none;
        display: flex;
    }
}
.alert {
    background: transparent;
    border: 0;
    padding: 0;
    margin-bottom: 2rem;
    span {
        font-size: .875rem;
        font-weight: 600;
        color: var(--red-color);
    }
}
.button_more {
    width: 100%;
    max-width: 320px;
    height: 40px;
    border: 0;
    background: var(--main-color);
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    margin: 1rem 1rem 2rem 1rem;
}
@media (max-width: 1600px) {
    .tab_content { 
        li {
            width: unset;
        }
    }
}