.input_box {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 158px;
    width: 100%;
    label {
        position: absolute;
        top: 2px;
        left: 12px;
        background: #fff;
        padding: 0 6px;
        font-weight: 600;
        font-size: .75rem;
        color: var(--main-color);
    }
    svg {
        position: absolute;
        font-size: 20px;
        color: #999;
        top: 24px;
        left: 12px;
        pointer-events: none;
    }
    textarea, textarea:focus {
        height: 148px;
        width: 100%;
        border-radius: 6px;
        border: 1px solid #d3d3d3;
        padding: .5rem 1rem;
        outline: 0;
        font-size: 1rem;
        color: #555;
        resize: none;
    }
}