.section_services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem;
    margin-bottom: 64px;
    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        color: #333;
        strong {
            font-weight: 700;
            color: var(--main-color);
        }
    }
    span {
        color: #555;
        margin-bottom: 1.5rem;
    }
    .content {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .25rem;
            justify-content: center;
            //flex: 1;
            width: 148px;
            height: 120px;
            background: #1d1d1d;
            box-shadow: 0 0 8px rgba($color: #000000, $alpha: .1);
            border-radius: 6px;
            padding: .5rem;
            transition: .3s;
            &:hover {
                background: #000;
            }
            span {
                color: #fff;
                font-weight: 600;
                font-size: .875rem;
                text-align: center;
                margin-bottom: 0;
            }
        }
        .ico {
            margin: 0;
            padding: 0;
            width: 48px;
            height: 48px;
            display: block;
            -webkit-mask-size: 100% !important;
            mask-size: 100% !important;
            background-color: #fff;
            mask-position: center;
            mask-repeat: no-repeat;
            color: transparent;
        }
        .fa_seguros {
            mask-image: url(../../assets/ico/fa-seguros.svg);
            mask: url(../../assets/ico/fa-seguros.svg) no-repeat center;
            -webkit-mask: url(../../assets/ico/fa-seguros.svg) no-repeat center;
        }
        .fa_lava_jato {
            mask-image: url(../../assets/ico/fa-lava-jato.svg);
            mask: url(../../assets/ico/fa-lava-jato.svg) no-repeat center;
            -webkit-mask: url(../../assets/ico/fa-lava-jato.svg) no-repeat center;
        }
        .fa_financiamento {
            mask-image: url(../../assets/ico/fa-financiamento.svg);
            mask: url(../../assets/ico/fa-financiamento.svg) no-repeat center;
            -webkit-mask: url(../../assets/ico/fa-financiamento.svg) no-repeat center;
        }
        .fa_pneus {
            mask-image: url(../../assets/ico/fa-pneus.svg);
            mask: url(../../assets/ico/fa-pneus.svg) no-repeat center;
            -webkit-mask: url(../../assets/ico/fa-pneus.svg) no-repeat center;
        }
        .fa_delivery {
            mask-image: url(../../assets/ico/fa-delivery.svg);
            mask: url(../../assets/ico/fa-delivery.svg) no-repeat center;
            -webkit-mask: url(../../assets/ico/fa-delivery.svg) no-repeat center;
        }
        .fa_reboques {
            mask-image: url(../../assets/ico/fa-reboques.svg);
            mask: url(../../assets/ico/fa-reboques.svg) no-repeat center;
            -webkit-mask: url(../../assets/ico/fa-reboques.svg) no-repeat center;
        }
        .fa_mecanica {
            mask-image: url(../../assets/ico/fa-mecanica.svg);
            mask: url(../../assets/ico/fa-mecanica.svg) no-repeat center;
            -webkit-mask: url(../../assets/ico/fa-mecanica.svg) no-repeat center;
        }
        .fa_baterias {
            mask-image: url(../../assets/ico/fa-baterias.svg);
            mask: url(../../assets/ico/fa-baterias.svg) no-repeat center;
            -webkit-mask: url(../../assets/ico/fa-baterias.svg) no-repeat center;
        }
    }
}
