.navtabs {

    .nav {
        display: flex;
        gap: .5rem;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    hr {
        z-index: 0;
        opacity: 1;
        margin: 0 !important;
        height: 2px;
        margin-top: -2px !important;
        background-color: #E5E5E5;
    }
    .button_create {
        width: 200px;
        height: 40px;
        border: 0;
        border-radius: 8px;
        background: var(--red-color);
        color: #fff;
        font-weight: 600;
        transition: .4s;
    }
    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 200px;
        height: 40px;
        border-radius: 8px;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 0 4px rgb(0, 0, 0, 0.15);
        position: relative;
        input {
            border: 0;
            height: 100% !important;
            border-radius: 4px 0 0 4px;
            padding: 0.5rem 0.75rem;
            color: #555;
            &:focus {
                outline: 0;
            }
        }
        button {
            display: flex;
            width: 40px;
            height: 40px;
            align-items: center;
            justify-content: center;
            padding: 0.25rem 0.5rem;
            border: 0;
            background: transparent;
            color: #fff;
            font-weight: 600;
        }
        p {
            position: absolute;
            color: var(--red-color);
            font-size: 0.875rem;
            bottom: -2.3rem;
            left: 0;
        }
    }
}

@media (max-width: 596px) {
    .navtabs {
        .search {
            width: 100%;
            input {
                width: 100%;
            }
        }
        .button_create {
            width: 100%;
        }
    }
}
@media (max-width: 575px) {
    .navtabs {
        .nav {
            gap: 0;
        }
        hr {
            display: none;
        }
    }
}