.comprar {
  display: flex;
  flex-direction: column;
  .content {
    width: 100%;
    max-width: 1448px;
    display: flex;
    gap: 32px;
    background: transparent;

    margin-top: -32px;
    z-index: 10;
    margin-bottom: 2rem;
    hr {
      background: #ededed;
      margin: 32px 0;
      opacity: 1;
    }
    .main {
      width: 932px;
      background: #fff;
      box-shadow: 0 0 8px rgba(0, 0, 0, .15);
      height: 100%;
      border-right: 1px solid #ededed;
      padding: 2rem;
      border-radius: 8px;
      .title {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #333;
        span {
          color: var(--main-color);
        }
      }
      .share_span {
        font-size: .875rem;
        font-weight: 600;
        color: #555;
        margin-bottom: .25rem;
      }
      .ico {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border: 1px solid #d3d3d3;
        border-radius: 50%;
        transition: .3s;
        svg {
          color: #d3d3d3;
          transition: .3s;
        }
        &:hover {
          border-color: var(--main-color);
          svg {
            color: var(--main-color);
          }
        }
      }
      .title_section{
        display: block;
        margin-bottom: 1.5rem;
        color: var(--main-color);
        text-transform: uppercase;
        font-size: .875rem;
        font-weight: 600;
      }
      .icon_heart {
        display: none;
      }
      .btn_santander {
        display: none;
      }
      .price {
        display: none;
      }
      .description {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
        margin-bottom: 0;
        color: #555;
      }
      .version {
        font-size: 1rem;
        font-weight: 600;
        color: #555;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
      .item {
        width: 210px;
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 100px;
        span {
          font-weight: 500;
          font-size: .875rem;
          color: #999999;
        }
        strong {
          font-size: 1rem;
          font-weight: 700;
          color: #555;
        }
      }
    }
    .menu_profile {
      display: flex;
      gap: 1rem;
      align-items: center;
      .avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 3px solid #ecedf2;
        padding: 5px;
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: #1d1d1d;
          color: #fff;
          text-transform: uppercase;
          font-size: 1.5rem;
          font-weight: 700;
          margin-top: 0;
        }
      }
      span {
        margin-top: .5rem;
        margin-bottom: .25rem;
        color: #555;
        font-size: 0.875rem;
      }
      .user_name {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
        color: #333;
        margin-bottom: .25rem;
      }
      .user_email {
        font-size: 0.875rem;
        color: #777;
        margin-bottom: 0;
      }
      .view_story_link {
        font-size: 0.875rem;
        font-weight: 700;
        color: var(--main-color);
      }
    }
  }
}
@media (max-width: 720px) {
  .comprar {
    padding-bottom: 64px;
    .content {
      max-width: 100vw;
      overflow: hidden;
      margin-top: 0;
      padding: 0;
      .main {
        padding: 1.5rem .75rem;
        flex-wrap: wrap;
        max-width: 100vw;
        overflow: hidden;
        position: relative;
        box-shadow: none;
        border-radius: 0;
        border-bottom: 1px solid #ededed;
        .title {
          font-size: 1.125rem;
          font-weight: 700;
          text-transform: uppercase;
          color: #333;
          span {
            color: var(--main-color);
          }
        }
        .icon_heart {
          position: absolute;
          top: 24px;
          right: 12px;
          height: 24px;
          display: flex;
          background: transparent;
          border: 0;
          font-size: 1.5rem;
          color: #999;
        }
        .btn_santander {
          padding: 0 8px;
          flex: 1;
          width: 100%;
          height: 48px;
          display: flex;
          gap: .5rem;
          align-items: center;
          justify-content: center;
          font-size: .875rem;
          font-weight: 600;
          text-align: center;
          background: var(--main-color);
          color: #fff;
          border-radius: 6px;
          svg {
            font-size: 1.4rem;
          }
        }
        .price {
          display: flex;
          font-size: 1.8rem;
          font-weight: 700;
          color: var(--main-color);
          margin-bottom: 0;
          span {
            color: #555;
          }
        }
        .version {
          font-size: .875rem;
          font-weight: 500;
          color: #555;
        }
      }
    }
    .contact {
      background: #fff;
      box-shadow: 0 -4px 8px rgba(0, 0, 0, .15);
      width: 100vw;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      padding: 0 .75rem;
      gap: 8px;
      bottom: 0;
      left: 0;
      z-index: 9999;
      .btn_whatsapp, .btn_message  {
        flex: 1;
        height: 48px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        border: 0;
        color: #fff;
        font-weight: 600;
        font-size: .875rem;
        background: #2BAF3A;
        svg {
          font-size: 1.2rem;
        }
      }
      .btn_message {
        background: var(--linear-gradient);

      }
    }
  }
}
