.card {
    width: 100%;
    height: auto;
    display: flex;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    overflow: hidden;
    .card_header {
        width: 100px;
        height: 100%;
        border: 1px solid #d3d3d3;
        overflow: hidden;
        position: relative;
        border-radius: 6px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 0.5s;
        }
        .new {
            position: absolute;
            top: 0;
            right: 0.5rem;
            border: 2px solid #ecedf2;
            border-top: 0;
            margin-top: -2px;
            border-radius: 0 0 50% 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            background: var(--linear-gradient);
            color: #fff;
            font-size: 0.65rem;
            font-weight: 700;
            pointer-events: none;
        }
    }
    .card_body {
        display: flex;
        justify-content: space-between;
        padding-left: 1rem;
        flex: 1;
        gap: 2rem;
        header {
            width: 50%;
            padding-bottom: 1rem;
            .identifier {
                font-size: 0.75rem;
                color: #555;
            }
            .new {
                text-transform: uppercase;
                color: #555;
            }
            .title {
                font-size: 1.3rem;
                text-transform: capitalize;
                color: #333;
                margin-bottom: 0;
                span {
                    font-size: 0.9rem;
                }
            }
            .subtitle {
                font-size: 0.875rem;
                font-weight: 400;
                max-width: 220px;
                color: #555;
                margin-bottom: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                line-height: 18px;
                height: 18px;
                max-height: 18px;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            .price {
                color: #555;
                font-size: 1.3rem;
                font-weight: 700;
                margin-top: 0.5rem;
                margin-bottom: 0;
                span {
                    color: var(--main-color);
                }
            }
        }
        main {
            button {
                width: 100% !important;
                max-width: unset;
                svg {
                    transition: 0.3s;
                }
                &:hover {
                    background: var(--main-color);
                    color: #fff;
                    transition: 0.3s;
                    svg {
                        color: #fff;
                    }
                }
            }
        }
    }
}
.add {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    span {
        color: var(--main-color);
        font-size: 0.875rem;
        color: #555;
        white-space: nowrap;
        display: block;
    }
}
.actions {
    align-items: flex-end;
    button {
        min-width: 160px;
        max-width: 160px;
    }
}
.btn_removed {
    border: 1px solid var(--red-color);
    border-radius: 6px;
    width: 190px !important;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    background: transparent;
    color: var(--red-color);
    font-size: .8rem;
    margin-left: 1rem;
    &:hover {
        background: transparent;
        color: var(--red-color);
        svg {
            color: var(--red-color);
        }
    }
}
@media (max-width: 720px) {
    .card {
        width: 100%;
        flex-direction: column;
        .card_header {
            width: 100%;
            height: 228px;
            margin-bottom: 1rem;
        }
        .card_body {
            padding: 0;
            flex-direction: column;
            header {
                width: 100%;
            }
        }
    }
    .actions {
        align-items: flex-end;
        .btn_removed {
            margin-left: 0;
            margin-top: 1rem;
        }
        button {
            display: flex;
            min-width: 100%;
            min-height: 40px;
            align-items: center;
            justify-content: center;
            flex: 1;
        }
    }
}