@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-overflow-scrolling: auto;
    overflow: auto;
}
html {
    scroll-behavior: auto !important;
}
body {
    background-color: #fafafa !important;
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 350px;
}

:root {
    --main-color: #3446BD;
    --light: #e7eaff;
    --yellow-color: #ebb61f;
    --dark-color: #1d1d1d;
    --red-color: #f74141;
    --red-light: #fdd5d5;
    --green-color: #00AE1C;
    --success: #00ae1c69;
    --linear-gradient: #3446BD;
}

a {
    color: inherit;
    text-decoration: none !important;
}

li {
    list-style: none;
}

ul {
    padding-left: 0 !important;
    margin: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input:-webkit-autofill, input:-webkit-autofill:active, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
    -webkit-box-shadow: inset 0 0 0 30px #fff !important;
}

.draggable.dragging {
    opacity: .5;
}

.is-dragging {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    opacity: 0.3 !important;
}

.over {
    background-color: #4cd13711;
}

.draggable .disabled {
    cursor: pointer !important;
}

.uploading::after {
    content: 'Carregando';
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: #00ae1d8c;
    transition: 0.3s;
}

.waiting::after {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: rgba(221, 221, 221, 0.466);
    transition: 0.3s;
}
.modal {
    display: flex !important;
}
.modal-dialog {
    width: 720px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    margin-top: 80px !important;
    padding: 0.5rem;
}

.modal-dialog button:focus {
    box-shadow: none !important;
}

.modal-content {
    display: flex !important;
    height: 100% !important;
    max-height: 720px;
    overflow: hidden;
}

.modal-content .modal-body {
    position: relative !important;
    overflow: hidden;
    padding: 0;
}

.modal-body .btn-close {
    width: 24px;
    height: 24px;
    padding: 0 !important;
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: #fff !important;
    opacity: 1;
    background: transparent url(../assets/ico/close.svg) center/1em auto no-repeat;
    background-size: cover;
    z-index: 9999;
}

.modal-content img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    border-radius: 4px;
}

.section_offers .swiper, .section_vehicles_popular .swiper {
    width: 100%;
    padding: 0 1.5rem;
}

.gallery .swiper .swiper-button-next {
    pointer-events: none;
    justify-content: flex-end;
    padding-right: 1rem;
    top: 22px !important;
    right: 0 !important;
    height: 100% !important;
    width: 33.33% !important;
    transition: .2s;
}

.gallery .swiper .swiper-button-prev {
    pointer-events: none;
    justify-content: flex-start;
    top: 22px !important;
    left: 0 !important;
    padding-left: 1rem;
    height: 100% !important;
    width: 33.33% !important;
    transition: .2s;
}

.gallery .swiper .swiper-button-prev:after, .gallery .swiper .swiper-button-next:after {
    pointer-events: all;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    font-size: 1.5rem;
    color: #fff;
}

.section_vehicles_popular .swiper .swiper-button-next::after,
.section_vehicles_popular .swiper .swiper-button-prev::after
 {
    font-size: 1.5rem;
    color: #fff;
}
.section_offers .swiper .swiper-button-next,
.section_offers .swiper .swiper-button-prev,
.section_store .swiper .swiper-button-prev,
.section_store .swiper .swiper-button-next {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_offers .swiper .swiper-button-prev:after,
.section_offers .swiper .swiper-button-next:after,
.section_store .swiper .swiper-button-prev:after,
.section_store .swiper .swiper-button-next:after {
    font-size: 1.5rem;
    color: #333;
}
.carousel-indicators {
    margin-bottom: .5rem !important;
}

.carousel-indicators button {
    height: 6px !important;
    width: 6px !important;
    border-radius: 50% !important;
    border: 0 !important;
    opacity: 1 !important;
}

.carousel-indicators button.active {
    background: var(--main-color);
}

.carousel-item {
    height: 212px;
    width: 100%;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination-bullet {
    background: #fff !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    width: 24px !important;
    border-radius: 16px !important;
    background: var(--main-color) !important;
}

@media (max-width: 720px) {
    .gallery .swiper:hover .swiper-button-next,
    .gallery .swiper:hover .swiper-button-prev,
    .gallery .swiper .swiper-button-next,
    .gallery .swiper .swiper-button-prev,
    .section_offers:hover .swiper .swiper-button-prev,
    .section_offers:hover .swiper .swiper-button-next,
    .section_offers .swiper .swiper-button-prev,
    .section_offers .swiper .swiper-button-next,
    .section_vehicles_popular:hover .swiper .swiper-button-next,
    .section_vehicles_popular:hover .swiper .swiper-button-prev,
    .section_vehicles_popular .swiper .swiper-button-next,
    .section_vehicles_popular .swiper .swiper-button-prev,
    .section_store .swiper .swiper-button-prev,
    .section_store .swiper .swiper-button-next,
    .carousel-indicators,
    .carousel-control-prev,
    .carousel-control-next {
        display: none !important;
    }
}