.select {
    position: relative;
    display: flex;
    align-items: flex-end;
    min-height: 58px;
    height: 58px;
    width: 100%;
    max-width: 392px;
    .placeholder {
        color: #999;
    }
    &.disabled {
        button {
            pointer-events: none;
            border-color: #e5e5e5;
            cursor: not-allowed !important;
            .label {
                font-weight: 400;
                background: #fff;
                color: #e5e5e5;
            }
            span {
                color: #e5e5e5;
            }
            svg {
                color: #e5e5e5;
            }
        }
    }
    .label {
        position: absolute;
        top: -2px;
        left: 12px;
        background: #fff;
        padding: 0 6px;
        font-weight: 600;
        font-size: 1rem;
        color: var(--main-color);
        z-index: 0 !important;
    }
    .close {
        height: 48px;
        border: 0;
        width: unset;
        svg, i {
            rotate: 0deg !important;
            color: #999;
            font-size: 1.2rem;
            transition: 0.3s;
        }
    }
    button {
        height: 48px;
        width: 100%;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #d3d3d3;
        background: #fff;
        padding: 0 0.75rem;
        outline: 0;
        font-size: 1rem;
        color: #555;
        span {
            color: #555;
            text-transform: capitalize;
            font-weight: 400;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 18px;
            height: 20px;
            max-height: 20px;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        svg, i {
            color: #999;
            font-size: 0.875rem;
            transition: 0.3s;
        }
        &.show {
            svg:last-child {
                transform: rotate(180deg);
            }
            & ~ .overflow {
                position: fixed;
                width: 100vw;
                height: 100vh;
                top: 0;
                right: 0;
                left: 0;
                pointer-events: fill;
                z-index: 10;
                opacity: 0.2;
            }
        }
    }
    .body {
        position: absolute;
        top: 64px;
        left: 0;
        background: #fff;
        border: 1px solid #d3d3d3;
        border-radius: 6px;
        width: 100%;
        max-height: 320px;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 9999;

        &::-webkit-scrollbar {
            width: 8px; /* width of the entire scrollbar */
            
        }

        &::-webkit-scrollbar-track {
            background: var(--main-color); /* color of the tracking area */
            border-radius: 0 4px 4px 0 !important;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #fff; /* color of the scroll thumb */
            border-radius: 20px; /* roundness of the scroll thumb */
            border: 2px solid var(--main-color); /* creates padding around scroll thumb */
        }
        li {
            //border-bottom: 1px solid #efefef;
            height: 40px;
            display: flex;
            align-items: center;
            padding-left: 0.75rem;
            font-size: 0.875rem;
            font-weight: 400;
            color: #777;
            cursor: pointer;
            &:last-child {
                border-bottom: none;
            }
            &:hover {
                background: var(--light);
                color: var(--main-color);
            }
        }
    }
    .select_error {
        position: absolute;
        top: 58px;
        left: 12px;
        display: flex;
        font-size: 0.75rem;
        font-weight: 700;
        color: var(--red-color);
    }
}
