.section_offers {
 display: flex;
 flex-direction: column;
}
.wrapper {
    position: relative;
    padding: 0 70px 0 70px !important;
}
#swiper {
    padding: 0;
    position: unset;
}

#swiper_slide {
 width: 280px;
}
.title {
 font-size: 1.5rem;
 font-weight: 600;
 color: #333;
 margin-bottom: 1.5rem;
 span {
  font-weight: 700;
  color: var(--main-color);
 }
}
@media (max-width: 720px) {
    .wrapper {
        padding: 0 !important;
        padding-left: 1rem !important;
    }
}