.menu_aside {
    position: fixed;
    top: 0;
    width: 300px;
    height: 100vh;
    background: #fff;
    border-right: 1px solid #EFEFEF;
    .menu_brand {
        height: 72px;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #EFEFEF;
        p {
            margin: 0;
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--main-color);
        }
    }
    .menu_profile {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #EFEFEF;
        .avatar {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 3px solid #ecedf2;
            padding: 5px;
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: #1d1d1d;
                color: #fff;
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 700;
                margin-top: 0;
            }
        }
        span {
            margin-top: .5rem;
            margin-bottom: .25rem;
            color: #555;
            font-size: 0.875rem;
        }
        .user_name {
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 600;
            color: #333;
            margin-bottom: .25rem;
        }
        .user_email {
            font-size: 0.875rem;
            color: #777;
            margin-bottom: 1rem;
        }
        .view_story_link {
            font-size: 0.875rem;
            font-weight: 700;
            color: var(--main-color);
        }
    }
    .menu_links {
        padding-top: 1rem;
        li {
            height: 40px;
            a {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                padding-left: 1rem;
                font-size: .875rem;
                color: #999;
                position: relative;
                &:hover {
                    color: var(--main-color);
                    svg {
                        color: var(--main-color);
                    }
                }
                span {
                    display: block;
                    width: 60px;
                    svg {
                        font-size: 18px;
                        color: #999;
                    }
                }
                &.active {
                    color: var(--main-color);
                    font-weight: 700;
                    background: #f2e6eb;
                    svg {
                        color: var(--main-color);
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 4px;
                        height: 100%;
                        background: var(--main-color);
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .menu_aside {
        left: -300px;
    }
}