.card {
  width: 320px;
  height: 324px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, .25);
  overflow: hidden;
  cursor: pointer;
  .card_header {
    width: 100%;
    height: 135px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner {
      width: 100%;
      height: 135px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .overflow {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #1d1d1d;
      opacity: .5;
    }
    .avatar {
      position: absolute;
      top: 50%;
      width: 108px;
      height: 108px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      border-radius: 50%;
      .content_image {
        background: #1d1d1d;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img {
          width: 80px;
        }
      }
    }
  }
  .card_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    h4 {
      font-size: 1rem;
      font-weight: 700;
      color: #333;
      margin-bottom: .25rem;
    }
    svg {
      color: var(--main-color);
    }
    span {
      color: #555;
      font-size: .875rem;
      svg {
        color: #555;
      }
    }
    .item {
      width: 54px;
      height: 54px;
      overflow: hidden;
      border-radius: 4px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 720px) {
  .card {
    width: 280px;
  }
}