.input_search {
    display: flex;
    height: 48px;
    width: 360px;
    min-width: 360px;
    max-width: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 6px;
    overflow: hidden;
    input {
        width: 100%;
        border: 0;
        padding-left: 12px;
        padding-right: 12px;
        &:focus {
            outline: 0;
            & ~ button {
                background: var(--main-color);
            } 
        }
    }
    button {
        width: 48px;
        min-width: 48px;
        height: 48px;
        border: 0;
        background: #d3d3d3;
        transition: .3s;
        svg {
            color: #fff;
        }
    }
}