.input_search {
    display: flex;
    height: 40px;
    width: 360px;
    max-width: 100%;
    border: 1px solid #efefef;
    border-radius: 6px;
    overflow: hidden;
    input {
        width: 100%;
        border: 0;
        padding-left: 12px;
        padding-right: 12px;
        &:focus {
            outline: 0;
            & ~ button {
                background: var(--main-color);
            } 
        }
    }
    button {
        width: 40px;
        min-width: 40px;
        height: 40px;
        border: 0;
        background: #e5e5e5;
        transition: .3s;
        svg {
            color: #fff;
        }
    }
}