.toggle {
    display: flex;
    align-items: center;
    .title {
        font-weight: 600;
        font-size: .875rem;
        color: #555;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 32px;
        height: 19px;
        margin-left: 0.5rem;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #E5E5E5;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 11px;
        width: 11px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
    
    input:checked + .slider {
        background-color: var(--green-color);
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px var(--green-color);
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(12px);
        -ms-transform: translateX(12px);
        transform: translateX(12px);
    }
    
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
    
    /* Rounded sliders */
    .round {
        border-radius: 34px;
    }
    
    .round:before {
        border-radius: 50%;
    }
}