.navtabs {
    width: 100%;
    min-height: 400px;
    .header {
        width: 100%;
        height: 40px;
        display: flex;
        gap: 8px;

        button {
            height: 100%;
            width: 160px;
            border-radius: 6px 6px 0 0;
            border: 0;
            border-bottom: 2px solid #E5E5E5;
            background: #e5e5e5;
            color: #555;
            font-weight: 400;
            font-size: .875rem;
            z-index: 10;
            transition: .3s;
            &.active, &:hover {
                background: var(--light);
                font-weight: 600;
                border-bottom: 2px solid var(--main-color);
                color: var(--main-color);
            }
        }
    }
    hr {
        margin-top: -2px;
        z-index: 0 !important;
        height: 2px;
        background: #E5E5E5;
        opacity: 1;
    }
}