.header {
    height: 72px;
    .navbar {
        width: calc(100% - 300px);
        height: 72px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        background: #fff;
        border-bottom: 1px solid #efefef;
        z-index: 999;
        .brand {
            display: none;
        }
        .title {
            display: flex;
            align-items: center;
            h4 {
                font-size: 1.2rem;
                font-weight: 700;
                margin-bottom: 0;
                color: #333;
            }
            svg {
                color: var(--main-color);
                margin-right: 0.5rem;
            }
        }
    }
}

@media (max-width: 1200px) {
    .header {
        width: 100%;
        .navbar {
            position: relative;
            display: flex;
            width: 100%;
            .brand {
                display: flex;
            }
            .title {
                display: none;
            }
        }
    }
}