.input_box {
    width: 100%;
    height: 32px;
    position: relative;
    margin-top: 3rem;
    input {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #555;
        position: absolute;
        outline: 0;
        background: #fff;
        filter: none !important;
        &:focus {
            outline: 0;
            filter: none !important;
        }
        &:invalid:not(:placeholder-shown),
        &focus:invalid {
            border-color: var(--red-color);
        }
        //&:valid:not(:placeholder-shown),
        //&focus:valid {
            //border-color: var(--success);
        //}
        &:read-only {
            color: #acacac;
            border-bottom: 1px solid #ebebeb;
            pointer-events: none;
        }
    }
    input:focus ~ label,
    input:valid ~ label,
    input:not(:placeholder-shown) ~ label {
        transform: translateY(-24px);
    }
    label {
        font-size: 0.875rem;
        color: #7e7e7e;
        position: absolute;
        pointer-events: none;
        transition: 0.2s;
        transform: translateY(-24px);
        strong {
            color: var(--red-color);
        }
    }
    .input_error {
        display: flex;
        position: absolute;
        left: 0;
        bottom: -1rem;
        font-size: 0.75rem;
        font-weight: 700;
        color: var(--red-color);
    }
}
.eye {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    width: 24px !important;
    height: 24px !important;
    background: transparent !important;
    padding: 0 !important;
    img {
        width: 80%;
        height: unset !important;
    }
}