.gallery {
  width: 100%;
  height: 620px;
  background: url("https://image.webmotors.com.br/_fotos/anunciousados/gigante/2021/202112/20211222/volkswagen-amarok-3.0-v6-tdi-diesel-highline-extreme-cd-4motion-automatico-wmimagem20511453821.jpg?s=fill&w=552&h=414&q=60") center center;
  background-size: cover;
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: rgba(29, 29, 29, .8);
    backdrop-filter: blur(25px);
  }
  #swiper_slide {
    width: 100%;
    max-width: 580px;
    height: 400px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  #swiper_slide_thumb {
    width: 100%;
    max-width: 64px;
    height: 56px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  #swiper {
    width: auto;
    max-width: 1772px;
    margin-top: 98px;
    border-radius: 8px;
  }
  #swiper_thumb {
    width: 100%;
    max-width: 580px;
    margin-top: 16px;
  }
}

@media (max-width: 720px) {
  .gallery {
    background: transparent;
    height: 270px;
    margin-top: 64px;
    .content {
      background: #fff;
    }
    #swiper_slide {
      border-radius: 0;
      width: 100%;
      height: 270px;
    }
    #swiper {
      margin-top: 0;
      border-radius: 0;
    }
    #swiper_thumb {
      display: none;
    }
  }
}