.content {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    height: 100%;
    padding: 2rem 1rem;
}
.title {
    color: #333;
    margin-bottom: 1rem;
}
.card {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: var(--light);
    border-radius: 16px;
    border-bottom: 4px solid var(--main-color);
    h4 {
        font-size: 1.125rem;
        font-weight: 600;
        color: var(--main-color);
    }
    p {
        font-size: 2rem;
        font-weight: 600;
        color: var(--main-color);
    }
    button {
        width: 100%;
        height: 48px;
        border-radius: 6px;
        background: var(--light);
        border: 2px solid var(--main-color);
        color: var(--main-color);
        font-weight: 600;
    }
}
.warning {
    background: var(--yellow-light);
    border-color: var(--yellow-color);
    button, p, h4 {
        color: var(--yellow-color);
    }
    button {
        background: var(--yellow-light);
        border-color: var(--yellow-color);
    }
}
.danger {
    background: var(--red-light);
    border-color: var(--red-color);
    button, p, h4 {
        color: var(--red-color);
    }
    button {
        background: var(--red-light);
        border-color: var(--red-color);
    }
}
.success {
    background: var(--green-light);
    border-color: var(--green-color);
    button, p, h4 {
        color: var(--green-color);
    }
    button {
        background: var(--green-light);
        border-color: var(--green-color);
    }
}