.cadastrar_anuncio {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 1rem;
        .btn_finaly {
            width: 220px;
            height: 40px;
            font-size: 1rem;
            font-weight: 600;
            color: #fff;
            background: var(--linear-gradient);
            border: 0;
            border-radius: 6px;
            box-shadow: 0 0 8px rgba($color: #000000, $alpha: .25);
        }
    }
}