.alert {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        max-width: 100%;
    }
    p {
        color: #333;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        width: 100%;
        max-width: 400px;
        margin-bottom: .25rem;
    }
    span {
        font-size: 1rem;
        color: #555;
    }
    a {
        width: 100%;
        max-width: 375px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.5rem;
        border: 0;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 6px;
        background: var(--linear-gradient);
        color: #fff;
    }
}