.button {
  padding: 0 2rem;
  height: 48px;
  border: 2px solid var(--main-color);
  background: transparent;
  border-radius: 6px;
  color: #333;
  font-weight: 600;
}
#modal {
  width: 500px !important;
  height: 600px;
  margin: auto !important;
  & > div {

  }
}
.toggle {
  button {
    height: 40px;
    width: 100px;
    background: transparent;
    border: 2px solid var(--main-color);
    &.active {
      background: var(--main-color);
      color: #fff;
    }
    &:first-child {
      border-right: 0;
      border-radius: 6px 0 0 6px;
    }
    &:last-child {
      border-left: 0;
      border-radius: 0 6px 6px 0;
    }
  }
}
.header {
  display: flex;
  justify-content: center;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    flex: 1;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color: #fff;
    font-weight: 600;
    border: 0;
    background: var(--main-color);
    &:first-child {
      background: var(--red-color);
    }
  }
}
.body {
  width: unset !important;
  height: 300px !important;
  padding: 1rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}