.footer {
  width: 100%;
  background: #1d1d1d;
  margin-top: 3rem;

  .content_main {
    min-height: 302px;
    display: flex;
    flex-wrap: wrap;

    .group {
      padding: 2rem;
      flex: 1;
      min-width: 260px;
      display: flex;
      flex-direction: column;
      background: transparent !important;
      border-right: 1px solid #333;

      span {
        font-size: 1.125rem;
        font-weight: 700;
        color: #fff;
        margin-bottom: 1rem;
      }

      .link {
        font-size: .875rem;
        font-weight: 600;
        color: #d3d3d3;
        margin-bottom: .75rem;
        transition: .2s;

        &:hover {
          color: var(--main-color);
        }
      }
    }
  }

  #header {
    button {
      font-size: 1.125rem;
      font-weight: 700;
      background: transparent;
      color: #fff;
      padding: 0;
      margin-bottom: 1rem;

      &:focus {
        box-shadow: none;
      }

      &:after {
        width: 14px;
        height: 14px;
        background-image: url("../../assets/chevron-down-solid 4.svg");
        background-size: 14px;
        background-position: center center;
      }
    }
  }

  #body {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    .link {
      width: 100%;
      font-size: .875rem;
      font-weight: 600;
      color: #d3d3d3;
      margin-bottom: .75rem;
      transition: .2s;

      &:hover {
        color: var(--main-color);
      }
    }
  }

  .content_botom {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    span {
      font-size: .75rem;
      font-weight: 600;
      color: #fff;
    }
  }
}

@media (min-width: 720px) {
  .footer {
    .content_main {
      .group {
        div {
          display: flex !important;
        }
      }
    }
    #header {
      button {
        pointer-events: none;
        &:after {
          display: none;
        }
      }
    }
    #body {
      display: flex !important;
    }
  }
}
@media (max-width: 720px) {
  .footer {
    .content_main {
      height: auto;
      .group {
        padding: 1rem 1rem 0 1rem;
      }
    }
    .content_botom {
      flex-direction: column;
      gap: 0;
      img {
        margin-bottom: 1rem;
      }
    }
  }
}