.cadastrar_anuncio {
    .content {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
        p {
            margin-bottom: 1.5rem;
            font-weight: 600;
            color: #555;
        }
        .card {
            width: 100%;
            max-width: 360px;
            height: 264px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 2rem 1rem 1rem 1rem;
            border: 1px solid #d3d3d3;
            background: #fff;
            border-radius: 6px;
            h4 {
                font-weight: 700;
                color: #555;
            }
            button {
                min-width: 100% !important;
                border: 2px solid var(--main-color);
                font-weight: 700;
            }
        }
    }
}