.row {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ededed;
    .col {
        display: flex;
        align-items: center;
        padding: 1rem;
        h4 {
            font-size: .875rem;
            font-weight: 400;
            color: #333;
            margin-bottom: 0;
        }
        .item {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            color: #555;
            height: 32px;
            width: 32px;
            border: 1px solid #d3d3d3;
        }
        .title {
            font-size: 1rem;
            margin-bottom: .5rem;
            font-weight: 600;
            color: #333;
            text-transform: uppercase;
        }
        .subtitle {
            text-transform: uppercase;
            font-size: .875rem;
            font-weight: 400;
            color: #333;
        }
        .price {
            font-size: 1rem;
            font-weight: 600;
            color: var(--main-color);
        }
        .content_image {
            width: 100px;
            height: 88px;
            overflow: hidden;
            border-radius: 6px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .integrate {
            height: 40px;
            border-radius: 6px;
            border: 0;
            padding: 0 32px;
            color: #fff;
            font-weight: 600;
            background: var(--main-color);
        }
    }
}