.table {
    background: #fff;
    border-radius: 6px;
    border: 1px solid #d3d3d3;
    h4 {
        font-size: 1rem;
        margin-bottom: 0;
        font-weight: 600;
        color: #333;
    }
}
.col {
    padding: 1rem;
}