.section_category_car {
  .title {
    color: #333;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 56px;
    span {
      color: var(--main-color);
    }
  }
}

#swiper_slide {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 530px !important;
}

@media (max-width: 720px) {
  #swiper_slide {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 280px !important;
  }
}