.button {
    width: 100%;
    height: 40px;
    font-size: .875rem;
    font-weight: 600;
    max-width: 190px;
    border: 1px solid var(--main-color);
    border-radius: 6px;
    background: #fff;
    color: var(--main-color);
    svg {
        margin-right: .5rem;
    }
}
@media (max-width: 575px) {
    .button {
        max-width: 360px;
    }
}